<div class="container-md">
    <div class="row py-3 py-md-2 d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-4 d-flex order-md-1 justify-content-center justify-content-md-start align-items-center fs-1">
            CryptoBay
        </div>
        <div class="col-12 col-md-4 d-flex order-md-3 my-1 justify-content-center justify-content-md-end align-items-center">
            <a href=""><i class="bi bi-linkedin mx-2 text-light"></i></a>
            <a href=""><i class="bi bi-github mx-2 text-light"></i></a>
        </div>
        <div class="col-12 col-md-4 d-flex order-md-2 justify-content-center align-items-center">
            Coded by<a href="" class="ms-1 text-light">Andree</a>
        </div>
    </div>
</div>

