<div class="color-mode border border-dark rounded-pill d-flex justify-content-between align-items-center position-relative py-1 px-2">
    <input type="radio" name="theme" id="light-mode" class="position-absolute m-0 d-none" value="1" checked>
    <label for="light-mode" id="label-option-1"><div class="options"></div></label>
    <input type="radio" name="theme" id="dark-mode" class="position-absolute m-0 d-none" value="2">
    <label for="dark-mode" id="label-option-2"><div class="options"></div></label>            
</div>