h1{
    font-size: 2rem;
}

#main{
    justify-content: center !important;
}


@media (min-width:768px){
    h1{
        font-size: 3rem;
    }
}

@media (min-width:992px){
    h1{
        font-size: 4rem;
    }
}

@media (min-width:1400px){
    h1{
        font-size: 5rem;
    }
}