.hide{
    opacity: 0;
}

form:hover input:hover,
form:hover select:hover,
form:hover label:hover{
    cursor: grab;
}

@media (min-width:768px){
    form{
        border: 2px solid rgba(51, 64, 94,0.5);
        border-radius: 1rem;
    }
    form:hover{
        border-color: rgba(51, 64, 94,1);
    }
}