.logo{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 1em;
}

.arrow{
    display: none;
}

.arrow-show{
    display: inline-block;
}

.positiveChange{
    color: #16c784;
}

.negativeChange{
    color: #ea3943;
}

.heart-container{
    position: relative;
    width: 2em;
    height: 2em;
}

.heart-container input,
.heart-container svg{
    position: absolute;
}

.heart-container input{
    width: 100%;
    height: 100%;
    opacity: 0;
}

.heart-container svg{
    width: 100%;
    height: 100%;
}

.heart-container:hover .bi-heart,
.heart-container input[type = 'checkbox']:checked  ~ .bi-heart{
    display: none;
    cursor: grab;
}

.heart-container:hover .bi-heart-fill,
.heart-container input[type = 'checkbox']:checked ~ .bi-heart-fill{
    display: inline-block;
    cursor: grab;
}
.heart-hidden{
    display: none;
}

.crypto-alerts{
    position: fixed;
    top: 0;
    left: 40%;
}

