.logo{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 1em;
}

.arrow{
    display: none;
}

.arrow-show{
    display: inline-block;
}

.positiveChange{
    color: #16c784;
}

.negativeChange{
    color: #ea3943;
}