.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    border: none;
}

.info-container img{
    width: 50%;
}

.favs-container div ul li{
    display: grid;
    grid-template-columns: 1fr 2rem;
    grid-template-rows: 2rem 1rem;
    align-items: center;
}

.wallet-container div ul li{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

li .fav-name{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: start;
}

li .fav-price{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 0.825rem;
}

li .fav-remove{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
    width: 2rem;
    height: 2rem;
    justify-self: center;
    align-self: center;
}

.fav-remove input{
    opacity: 0;
    width: 100%;
    height: 100%;
}

.fav-remove i,
.fav-remove i::before{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2rem;
}

.fav-remove:hover{
    cursor: grab;
}

li .asset-name{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
li .asset-name + div{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 0.75rem;
}

li .asset-posession{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

li .asset-equivalence{
    grid-column: 1 / 3;
    font-size: 0.825rem;
}

@media( min-width : 576px){
    .grid-container{
        grid-template-columns: repeat(3,1fr);
    }
    .list-group-flush>.list-group-item:last-child{
        border-bottom-width: 1px;
    }
}
